<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMJ-Commerce</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div class="container">
    <div class="header">
        <header id="header">
            <section>

            </section>
        </header>
        <article class="top-bar">
            <section>
                <menu id="headerMenu">

                    <li id="login" class="top-button">
                        <a href="/login">로그인</a>
                    </li>
                    <li id="join" class="top-button">
                        <a href="/signup">회원가입</a>
                    </li>
                    <li class="top-button">
                        <a href="#">문의</a>
                    </li>
                </menu>
            </section>
        </article>
    </div>
</div>
</body>
</html>