<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <title>로그인</title>
</head>
<body>
<div class="content-wrapper">
    <div id="login-content-root">
        <header class="login-header">
            <h1 class="login-logo">
                <a href="https://smj-commerce.com">
                    <img src="images/logo.jpg" alt="smj-commerce">
                </a>
            </h1>
        </header>
        <div th:if="${param.error}" class="form-group">
            <span th:text="${param.exception}" class="alert alert-danger"></span>
        </div>
        <form class="login-form" method="post" th:action="@{/api/users/signin}">
            <div id="login_content">
                <label class="login-wrap" for="login-email-input">
                    <span class="login-input-group login-input-group-icon">
                        <img src="images/email.png" alt="email" class="login-icon"></span>
                    <span class="login-input-group">
                        <input type="email" class="login-input" maxlength="80" name="email" id="login-email-input"
                               value="" placeholder="아이디(이메일)" autocomplete="off">
                    </span>
                </label>
                <label class="login-wrap" for="login-password-input">
                    <span class="login-input-group login-input-group-icon">
                        <img src="images/password.png" alt="password" class="login-icon"></span>
                    <span class="login-input-group">
                        <input type="password" class="login-input" value="" name="password" id="login-password-input"
                               placeholder="비밀번호">
                    </span>
                </label>

                <div class="login-content-util">
                    <label for="login-keep-state" class="login-checkbox login-util-keep-login">
                        <input class="login-checkbox-input" type="checkbox" id="login-keep-state">
                        <span class="login-checkbox-label">자동로그인</span>
                    </label>
                    <a href="/login/findUserInfo" class="login-link find-id-password">
                        아이디(이메일)/비밀번호 찾기
                    </a>
                </div>

                <div class="login-content-trigger">
                    <button class="login-button login-submit-button" type="submit">로그인</button>
                    <hr class="login-separator">
                    <a href="/signup" class="signin-button">회원가입</a>
                    <hr class="login-separator">
                    <a href="/login/social/github"><img src="images/github_login.png" alt="github_login"
                                                        class="social-login-button"></a>
                    <hr class="login-separator">
                    <a href="/login/social/kakao"><img src="images/kakao_login.png" alt="kakao_login"
                                                       class="social-login-button"></a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>